/* Mountains */
#body::before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(220, 220, 220, 0.73);
}
  
#body{
    position: relative;
    width: 100%;
    height: 100%;
}

#text{
    position: absolute;
    width: 100%;
    height: 100%;

    bottom: 0px;
}

h1, h3{
    color: purple;
    font-weight: bold;
}

h2{color: purple}

p{
    font-weight: bold;
    font-size: x-large
}

#s_one{
    margin: auto;
    width: 60%;
    text-align: center;
}

#s_two{
    margin: auto;
    padding: 30px;
    width: 60%;
    flex-direction: row;
    text-align: center;
}

#s_three{
    margin: auto;
    padding: 30px;
    width: 60%;
}

u{color: gray}


#buttons{
    justify-content: space-between;
    display: flex;
    margin: auto;
    width: 50%;
}


button {
    background-color: white;
    color: purple;
    border: none;
    width: 200px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20%;
  }
  
#learn{
    height: 400px;
    background-color: rgb(36, 15, 56);
}
.white{color: white}

/* Display Board */



/* Numbers */
/* Wall Street */