/* Mountains */

/* #root{background-color: rgb(179, 245, 206);} */

#overlay{
    background-color: rgba(220, 220, 220, 0.73);
    overflow: hidden;
    height: 100%;
    z-index: 2;
}

.purple{color: purple;}

.bold{font-weight: bold;}

#s_one{
    margin: auto;
    width: 60%;
    text-align: center;
}

#our_team{
    font-weight: bold;
    font-size: x-large
}

#s_two{
    margin: auto;
    padding: 30px 30px 10px 30px;
    width: 60%;
    flex-direction: row;
    text-align: center;
}

#s_three{
    margin: auto;
    padding: 30px;
    padding: 10px 30px 30px 30px;
    width: 60%;
}

.buttons{
    justify-content: space-between;
    display: flex;
    margin: auto;
    width: 50%;
}

button {
    background-color: white;
    color: purple;
    border: none;
    width: 200px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20%;
}

#purple_block{
    /* height: 300px; */
    color: white;
    font-weight: bold;
    text-align: center;
    background-color: rgb(36, 15, 56);
}

#learn{display: flex;}

.item{
    width: 400px;
    height: 200px;
}

.course{
    /* height: 700px; */
    text-align: center;
    margin-bottom: 30px;
}

.dark_purple{color: rgb(58, 0, 58);}

#new_investors{padding-top: 50px;}

#Employees{
    margin: auto;
    padding: 30px;
    width: 60%;
}

#img_list{
    display: flex;
    justify-content: center;
    text-align: left;
}

/* Display Board */

#workshop{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

#titel{
    margin: auto;
    padding: 30px;
}   

#behaviors{
    margin: auto;
    text-align: center;
}

#list_div{
    width: 60%;
    margin: auto;
    text-align: left;
}

/* Numbers */
/* Wall Street */

