#calendar{height: 228px;}

#body{
    padding: 2%;
}

.dates{
    width: 60%;
    margin: auto;
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

#top{
    border-top: 2px solid black;
}

#bottom{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-bottom: 200px;
}

.enroll{
    color: white;
    width: 150px;
    height: 40px;
    background-color: rgb(128, 87, 166);
}

#calendar_block{
    margin: auto;
    width: 60%;
    text-align: center;
}

#days{
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.day{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80px;
}

.number{
    height: 50px;
    padding: 10%;
}

.number:hover{
    background-color: rgb(139, 116, 168);
    border: 2px solid purple;
}

#current{
    display: flex;
    text-align: left;
    padding: 10px;
    justify-content: space-between;
}