#citty{
    background-image: url("../../public/media/citty.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;

    /* display: flex; */
    /* justify-content: center; */
    /* position: static; */
}

#wall{
    height: 700px;
    width: 700px;
    margin: auto;
    /* float: left; */
    position: absolute;
    left: 450px;
}


/* #white{
    background-color: white;
    height: 700px;
    width: 700px;
    margin: auto;
    float: left;
} */


#big-div{
    position: static;
}

#white{
    background-color: white;
    height: 300px;
    width: 700px;
    /* margin: auto; */
    position: absolute;
    /* bottom: 10px; */
    left: 450px;
    bottom: 250px;

}