#citty{
    background-image: url("../../public/media/citty.webp");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;

    display: flex;
    justify-content: center;
}

#wall{
    height: 700px;
    width: 700px;
    margin: auto;
}

#white{
    background-color: white;
    height: 700px;
    width: 700px;
    margin: auto;
}